<div class="container">
  <mat-toolbar color="primary">
    <div class="top-bar">
      <span>Signal Chat</span>
      <span class="loginname" *ngIf="username != ''"><b>{{username}}</b></span>
    </div>
  </mat-toolbar>
  <div class="messages">
    <ng-template ngFor let-message [ngForOf]="messages" let-i="index">
      <div *ngIf="i == 0 || message.sendDate != messages[i-1].sendDate" class="message-line dayDate">
          <span class="line"></span><div class="value">{{message.sendDate}}</div><span class="line"></span>
      </div>
      <div *ngIf="message.username == username" class="message-line me">
        <div class="message me">
          <div class="user-name"><b>{{message.username}} </b>  <font class="send-date"> {{message.sendDate}}</font></div>
          <div class="user-text">{{message.text}}</div>
          <div class="send-hours">{{message.sendHours}}</div>
        </div>
      </div>
      <div *ngIf="message.username != username && message.username != ''" class="message-line other">
        <div class="message other">
          <div class="user-name"><b>{{message.username}} </b>  <font class="send-date"> {{message.sendDate}}</font></div>
          <div class="user-text">{{message.text}}</div>
          <div class="send-hours">{{message.sendHours}}</div>
        </div>
      </div>
      <div *ngIf="message.username == ''" class="message-line admin">
        <div class="message admin">
          <div>{{message.text}}</div>
        </div>
      </div>
    </ng-template>
  </div>
  <div class="footer">
    <form class="form">
      <mat-form-field class="input">
        <mat-label>Escreva sua mensagem</mat-label>
        <input matInput placeholder="Olá" [formControl]="messageControl">
      </mat-form-field>
      <button (click)="sendMessage()" color="primary" mat-mini-fab aria-label="Enviar">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
