.container {
  min-width: 150px;
  max-width: 1000px;
  height: calc(100% - 50px);
  margin: auto;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
  width: 100%;
  height: calc(100% - 120px);
  float: none;
  margin: 0px auto;
  padding-left: 0px;
  overflow-y: auto;
}

.message {
  padding: 6px 7px 8px 9px;
  max-width: fit-content;
  margin-top: 5px;
  border-radius: 8px;
}

.message-line {
  display: flex;
  flex-direction: row;
}

.message-line.me {
  justify-content: flex-end;
}

.message-line.other {
  justify-content: flex-start;
}

.message-line.admin {
  justify-content: center;
}

.message.me {
  background-color: lightgreen;
  margin-right: 50px;
  min-width: 100px;
  max-width: 40%;
  overflow-x: auto;
  overflow-y: auto;
}

.message.other {
  background-color: aliceblue;
  margin-left: 50px;
  min-width: 100px;
  max-width: 40%;
  overflow-x: auto;
  overflow-y: auto;
}

.message.admin {
  background-color: lightblue;
}

.user-name {
  font-size: 16px;
}

.footer {
  border-top: 1px solid rgba(0,0,0,.2);
  padding: 10px 0;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-width: 150px;
  max-width: 1000px;
  width: 100%;
}

.input{
    width:90%
}

.top-bar {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  width:100%;
}

.loginname {
  text-align: right;
}
.send-date {
  font-size:12px;
}
.send-hours {
  text-align: right;
  font-size:12px;
}

.message-line.dayDate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px 0 10px 0;
}

.dayDate {
  width: 100%;
}

.line {
  flex-grow: 1;
  border-top: 1px solid black; /* Linha horizontal */
  margin: 0 10px; /* Espaçamento ao redor do valor */
  width:100%
}

.value {
  white-space: nowrap; /* Garante que o valor não quebre linha */
  font-weight: bold; /* Estilize conforme desejado */
}
